body{
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}
.main{
	height:160px;
	width:160px;
	
	position:relative;
}
.outdiv{
	height:160px;
	width:160px;
	border:2px solid black;
    border-radius:50%;
	padding:20px;
	display:flex;
	align-items:center;
	justify-content:center;
	
}
.indiv{
	height:120px;
	width:120px;
	border:2px solid black;
	border-radius:50%;
	
	
}
#num{
	color:gray;
	display:flex;
	align-items:center;
	justify-content:center;
}
circle{
	fill:none;
	stroke:url(#GradientColor);
	stroke-width:20px;
	stroke-dasharray:472;
	stroke-dashoffset:472; 
	animation: anim 2s inner forwards;
}
svg{
	position:absolute;
	top:0px;
	left:0px;
}
@keyframes anim{
	
	100%{
		color:red;
		stroke-dashoffset:165;
	}
}*/